.md-typeset { font-size: .9rem !important; }
.md-typeset .admonition, .md-typeset details { font-size: .9rem !important; }
.md-nav--primary .md-nav__item, .md-nav--primary .md-nav__title { font-size: .9rem !important; }
